


<div class="container">

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../Images/aboutMRU.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">About MRU</h1>
                <p class="lead">MRU college is a mission-driven not-for-profit institute that connects students to college success and opportunity. Founded in 1999, MRU was created to expand access to higher education.</p>
            </div>
        </div>
    </div>



    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">The MRU community</h1>
                <p class="lead">Today, the membership association is made up of over 6,000 of the world’s leading educational institutions and is dedicated to promoting excellence and equity in education.</p>
            </div>

            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../Images/communityMRU.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../Images/impactMRU.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">MRU's impact</h1>
                <p class="lead">The organization also serves the education community through research and advocacy on behalf of students, educators, and schools.</p>
            </div>

        </div>
    </div>
</div>


